urxvt*depth: 32
URxvt*saveLines: 12000
URxvt*font: xft:Source Code Pro:size=12
URxvt*boldFont: xft:Source Code Pro:size=12
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: rxvt
URxvt.letterSpace: -1
URxvt.perl-ext-common: resize-font
URxvt*background: rgba:0000/0000/0200/c800


! C0LORS
! Blacks
*color0: #333333
*color8: #3d3d3d
! Reds
*color1: #f03669
*color9: #c75b79
! Green
*color2: #b8e346
*color10: #c8e37e
! Yellow
*color3: #ffa402
*color11: #ffbe4a
! Blue
*color4: #02a2ff
*color12: #71cbff
! Magenta
*color5: #875c8d
*color13: #e41f66
! Cyan
*color6: #6fa9d3
*color14: #0078CE
! White
*color7: #899ca1
*color15: #c0c0c0
! Font
URxvt.foreground: #ffffff


rofi.theme: solarized
rofi.width: 50
rofi.lines: 3
rofi.columns: 1
rofi.font: Noto Sans 40
rofi.bw: 0
rofi.padding: 400
rofi.eh: 1
rofi.fullscreen: false
rofi.hide-scrollbar: true

rofi.location:                       0
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.markup-rows:                    false
rofi.scrollbar-width: 8Q
